body {
     background-color: #d4dacb;
     font-family: 'Arial', sans-serif;
     text-align: center;
     padding: 20px;
 }

h1 {
    font-size: 3rem;
    color: #d32f2f;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.btn-discord {
    display: inline-block;
    background-color: #5865F2;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}

.btn-mc {
    display: inline-block;
    background-color: #35dc43;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}

.btn-diablo {
    display: inline-block;
    background-color: #000000;
    color: #ff0000;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}

.goon-img {
    max-width: 100%;
    height: auto;
}

.goon {
    display: block;
    margin-top: 10px;
    color: gray;
    text-decoration: none;
    font-style: italic;
}