body {
     background-color: hsl(214.69, 50.79%, 24.71%);
     background-color: hsl(209.71, 55.68%, 63.73%);
     background-color: hsl(156, 23.81%, 91.76%);
     background-color: hsl(0,0%, 100%);
     font-family: 'Arial', sans-serif;
     text-align: center;
     margin: 0;
     padding: 0;

 }

.logo-container {
    background-color: hsl(0,0%, 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dark-hr {
    background-color: hsl(214.69, 50.79%, 24.71%);
    height: 30px
}

h1 {
    font-size: 3rem;
    color: hsl(214.69, 50.79%, 24.71%);
    text-transform: uppercase;
    margin-bottom: 10px;
}

.text {
    color: #5865F2;
    text-align: center;
    font-size: 1.2rem;
}

.btn-content {
    display: inline-block;
    background-color: hsl(222, 65%, 51%);
    color: hsl(0, 0%, 100%);
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}



.btn-content:hover {
    background-color: hsl(222, 65%, 61%);
}

.btn-mc {
    display: inline-block;
    background-color: hsl(125, 70%, 54%);
    color: hsl(0, 0%, 100%);
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}

.btn-mc:hover {
    background-color: hsl(125, 70%, 64%);
}

.btn-diablo {
    display: inline-block;
    background-color: hsl(0, 0%, 0%);
    color: hsl(0, 100%, 50%);
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}

.btn-diablo:hover {
    background-color: hsl(0, 0%, 10%);
    color: hsl(0, 100%, 60%);
}

.btn-zelda {
    display: inline-block;
    background-color: hsl(222, 65%, 51%);
    color: hsl(50, 88%, 53%);
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}

.btn-zelda:hover {
    background-color: hsl(222, 65%, 61%);
}

.image {
    height: 50%;
    width: 50%;
}